In [91]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport



# Load datasets
#cross_df = pd.read_csv('C:/Users/nsnav/Downloads/archive/oasis_cross-sectional.csv')
long_df = pd.read_csv('C:/Users/nsnav/Downloads/archive/oasis_longitudinal.csv')

# Data Structure(Type) and Descriptive measurement of data
def dataset_overview(df, name):
    print(f"\n--- {name} Dataset Overview ---")
    print(df.info())
    #print(df.describe(include='all'))
    print(df.head())



#  count for categorical variables
def categorical_summary(df):
    cat_cols = df.select_dtypes(include='object').columns
    for col in cat_cols:
        print(f"\n--- Value Counts for {col} ---")
        print(df[col].value_counts())

# Execute EDA on both datasets
#dataset_overview(cross_df, "OASIS Cross-Sectional")


dataset_overview(long_df, "OASIS Longitudinal")

#Null_Values_Detection

#print("\n")
#print("Null Values Count : ")
#print("\n")
#print("oasis_cross-sectional: ")
#print("\n")
#print(cross_df.isna().sum())
print("\n")
print("oasis_longitudinal: ")
print("\n")
print(long_df.isna().sum())

print("\n")

# imputing missing value in SES with median

long_df['SES']=long_df['SES'].fillna((long_df['SES'].median()))

# imputing missing value in MMSE with median

long_df['MMSE']=long_df['MMSE'].fillna((long_df['SES'].median()))

print("\n")

print("oasis_longitudinal:Null Value count after replacing with median ")

print("\n")

print(long_df.isna().sum())

print("\n")

#For checking the missing values replaced or not.

print(long_df)

print("\n")

long_df.describe()








# Generate the profiling reports
#profile_cross = ProfileReport(cross_df, title="OASIS Cross-Sectional EDA Report", explorative=True)
#profile_long = ProfileReport(long_df, title="OASIS Longitudinal EDA Report", explorative=True)

#Path for saving HTML report
#report_path = "C:/Users/nsnav/OneDrive/Documents/DTU_MBA_DSA/Term-3/Machine_Learning/ML_Project/"

# Save to HTML files
#profile_cross.to_file(report_path + "oasis_cross_sectional_eda.html")
#profile_long.to_file(report_path +"oasis_longitudinal_eda.html")

--- OASIS Longitudinal Dataset Overview ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Subject ID  373 non-null    object
 1   MRI ID      373 non-null    object
 2   Group       373 non-null    object
 3   Visit       373 non-null    int64
 4   MR Delay    373 non-null    int64
 5   M/F         373 non-null    object
 6   Hand        373 non-null    object
 7   Age         373 non-null    int64
 8   EDUC        373 non-null    int64
 9   SES         354 non-null    float64
 10  MMSE        371 non-null    float64
 11  CDR         373 non-null    float64
 12  eTIV        373 non-null    int64
 13  nWBV        373 non-null    float64
 14  ASF         373 non-null    float64
dtypes: float64(5), int64(5), object(5)
memory usage: 43.8+ KB
None
  Subject ID         MRI ID        Group  Visit  MR Delay M/F Hand  Age  EDUC  \
0  OAS2_0001  OAS2_0001_MR1  Nondemented      1         0   M    R   87    14
1  OAS2_0001  OAS2_0001_MR2  Nondemented      2       457   M    R   88    14
2  OAS2_0002  OAS2_0002_MR1     Demented      1         0   M    R   75    12
3  OAS2_0002  OAS2_0002_MR2     Demented      2       560   M    R   76    12
4  OAS2_0002  OAS2_0002_MR3     Demented      3      1895   M    R   80    12

   SES  MMSE  CDR  eTIV   nWBV    ASF
0  2.0  27.0  0.0  1987  0.696  0.883
1  2.0  30.0  0.0  2004  0.681  0.876
2  NaN  23.0  0.5  1678  0.736  1.046
3  NaN  28.0  0.5  1738  0.713  1.010
4  NaN  22.0  0.5  1698  0.701  1.034


oasis_longitudinal:


Subject ID     0
MRI ID         0
Group          0
Visit          0
MR Delay       0
M/F            0
Hand           0
Age            0
EDUC           0
SES           19
MMSE           2
CDR            0
eTIV           0
nWBV           0
ASF            0
dtype: int64




oasis_longitudinal:Null Value count after replacing with median


Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Hand          0
Age           0
EDUC          0
SES           0
MMSE          0
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64


    Subject ID         MRI ID        Group  Visit  MR Delay M/F Hand  Age  \
0    OAS2_0001  OAS2_0001_MR1  Nondemented      1         0   M    R   87
1    OAS2_0001  OAS2_0001_MR2  Nondemented      2       457   M    R   88
2    OAS2_0002  OAS2_0002_MR1     Demented      1         0   M    R   75
3    OAS2_0002  OAS2_0002_MR2     Demented      2       560   M    R   76
4    OAS2_0002  OAS2_0002_MR3     Demented      3      1895   M    R   80
..         ...            ...          ...    ...       ...  ..  ...  ...
368  OAS2_0185  OAS2_0185_MR2     Demented      2       842   M    R   82
369  OAS2_0185  OAS2_0185_MR3     Demented      3      2297   M    R   86
370  OAS2_0186  OAS2_0186_MR1  Nondemented      1         0   F    R   61
371  OAS2_0186  OAS2_0186_MR2  Nondemented      2       763   F    R   63
372  OAS2_0186  OAS2_0186_MR3  Nondemented      3      1608   F    R   65

     EDUC  SES  MMSE  CDR  eTIV   nWBV    ASF
0      14  2.0  27.0  0.0  1987  0.696  0.883
1      14  2.0  30.0  0.0  2004  0.681  0.876
2      12  2.0  23.0  0.5  1678  0.736  1.046
3      12  2.0  28.0  0.5  1738  0.713  1.010
4      12  2.0  22.0  0.5  1698  0.701  1.034
..    ...  ...   ...  ...   ...    ...    ...
368    16  1.0  28.0  0.5  1693  0.694  1.037
369    16  1.0  26.0  0.5  1688  0.675  1.040
370    13  2.0  30.0  0.0  1319  0.801  1.331
371    13  2.0  30.0  0.0  1327  0.796  1.323
372    13  2.0  30.0  0.0  1333  0.801  1.317

[373 rows x 15 columns]

,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
count,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000
mean,1.882038,595.104558,77.013405,14.597855,2.436997,27.206434,0.290885,1488.128686,0.729568,1.195461
std,0.922843,635.485118,7.640957,2.876339,1.109307,4.114329,0.374557,176.139286,0.037135,0.138092
min,1.000000,0.000000,60.000000,6.000000,1.000000,2.000000,0.000000,1106.000000,0.644000,0.876000
25%,1.000000,0.000000,71.000000,12.000000,2.000000,27.000000,0.000000,1357.000000,0.700000,1.099000
50%,2.000000,552.000000,77.000000,15.000000,2.000000,29.000000,0.000000,1470.000000,0.729000,1.194000
75%,2.000000,873.000000,82.000000,16.000000,3.000000,30.000000,0.500000,1597.000000,0.756000,1.293000
max,5.000000,2639.000000,98.000000,23.000000,5.000000,30.000000,2.000000,2004.000000,0.837000,1.587000